.grid {
    border: 1px solid black;
    height: 200px;
    width: 200px;
    cursor: pointer;
    font-size: 100px;
    text-align: center;
    
}

.container {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    height: 606px;
    width: 606px;
    margin: auto;
}

.title, .turn {
    text-align: center;
}

.btn {
    justify-content: center;
}




